.header{
	background: var(--accent2);
	width: 100%;
	margin: 0px;
	height: 10%;
	color: #fff;
	display: flex;
	justify-content: space-between;
}
.header a:active{
	color: white;
}
.header a{
	text-decoration: none;
	color: white;
	margin: 0;
	font-size: 20pt;
	padding: 20px;
	user-select: none;
}
.header ion-icon{
	padding: 20px;
	font-size: 20pt;
	cursor: pointer;
	transition: .3s;
}
.header ion-icon:focus, .header ion-icon:hover{
	transform: rotate(-90deg);
	transition: .3s;
}