.simptomes_textarea:hover, .simptomes_textarea:focus {
	background: var(--accent);
	transition: .3s;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	color: white;
	border-left: 6px solid var(--accent2);
	border-right: 6px solid var(--accent2);
}
body{
	overflow-x: none;
}
.simptomes_textarea{
	transition: .3s;
	border: none;
	width: 90%;
	font-size: 16pt;
	margin-top: 10px;
	height: 5vh;
	border-bottom: 4px solid var(--accent2);
}
.simptomes{
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	white-space: nowrap;
	width: 90%;
	margin-top: 5px;
	#padding-left: 10%;
	font-size: 14pt;
}
.simptomes::-webkit-scrollbar-thumb{
	border-bottom: 2px solid black;
	background: transparent;
	border-radius: 10px;
}
.simptomes::-webkit-scrollbar-track{
	margin-top: 1px;
}
.simptomes::-webkit-scrollbar{
	background: transparent;
	margin-top: 10px;
	height: 4px;
}
.simptomes div:not(:last-child){
	margin-right: 5px;
}
.simptome:hover, .simptome:focus{
	background: var(--accent);
	color: white;
	transition: .2s;
}
.simptome{
	transition: .2s;
	cursor: pointer;
}
.simptomes div{
	user-select: none;
	padding: 3px;
	border-radius: 10px;
	display: flex;
	border: 2px solid var(--accent);
}
.simptomes_shown{
	display: none !important;
	border: 100px solid black;
}
.added_simptomes{
	background: none;
	margin-top: 10px;
	font-size: 12pt;
	border: 2px solid var(--accent);
	padding: 5px;
	transition: .3s;
	cursor: pointer;
}
.added_simptomes:hover, .added_simptomes:focus{
	background: var(--accent);
	color: white;
	transition: .3s;
}
#Added_simptomes_window{
	display: none;
	margin: 5%;
	opacity: 1;
	transition: .3s;
	position: absolute;
	width: 90vw;
	height: 90vh;
	z-index: 3;
	background: #fff;
	box-shadow: 0 0 100px rgba(0,0,0,1);
	animation: slideuptocenter .4s ease-in-out;
	transform-origin: 50% 0;
}

.button_for_close:hover, .button_for_close:focus{
	transform: rotate(90deg);
	transition: .3s;
	color: var(--accent3);
}
.button_for_close{
	transition: .3s;
	color: var(--accent4);
	position: absolute;
	right: 0;
	font-size: 36pt;
}
.block_with_simptome{
	display: flex;
	padding-left: 10px;
	justify-content: space-between;
	border-bottom: 1px solid black;
	padding-top: 5px;
	padding-bottom: 5px;
}
.text_for_added_simptome{
	color: black;
	font-size: 20pt;
	width: 90%;
}
.button_for_remove{
	font-size: 25pt;
	cursor: pointer;
	color: var(--accent2);
}
#spisok_blyat{
	margin-top: 50px;
	overflow-x: scroll;
	#background: red;
	height: calc(100% - 50px);
}
#block_with_list_bolezni{
	position: absolute;
	width: calc(100vw - 10vw);
	bottom: 0;
	height: 15vh;
	z-index: 1;
	transition: .4s;
	overflow-y: scroll;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border: 3px solid black;
	border-bottom: none;
	background: #e6e6e6;
	overflow-y: hidden;

	display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
@keyframes unpack_bolezni{
	from{height: 15vh; overflow-y: hidden;}
	to{height: 65vh; overflow-y: scroll;}
}
@keyframes pack_bolezni{
	from{height: 65vh; overflow-y: scroll;}
	to{height: 15vh; overflow-y: hidden;}
}
#bolezni_list{
	margin-top: 40px;
	height: calc(100% - 40px);
	z-index: 5;
	width: 90%;
}
.block_with_bolezn{
	display: flex;
	border-bottom: 1px solid black;
	padding-top: 5px;
	padding-bottom: 5px;
	z-index: 4;
	justify-content: space-between;
	width: 100%;
}
.text_bolezn{
	display: flex;
	width: 90%;
	padding-left: 10px;
	flex-direction: column;
}
.bolezn_name{
	font-size: 20pt;
}
.bolezn_simptomes{
	font-size: 10pt;
}
.bolezn_info{
	font-size: 25pt;
	align-items: center;
}
.header_for_info_window{
	display: flex;
	width: 100%;
	min-height: 10%;
	justify-content: space-between;
}
.header_for_info_window ion-icon{
	width: 10%;
}
.header_for_info_window div{
	font-size: 19pt;
	padding: 10px 0 0 10px;
	width: 90%;
}
#Info_window{
	margin: 5%;
	display: none;
	position: absolute;
	width: 90%;
	height: 90%;
	background: white;
	border: 3px solid black;
	z-index: 2;
	box-shadow: 0 0 100px rgba(0,0,0,1);
}
#info_text{
	padding-left: 10px;
	padding-right: 10px;
	height: 90%;
	overflow-y: scroll;
}
.thirdzone ion-icon:hover, .thirdzone ion-icon:focus{
	color: var(--accent);
	transition: .2s;
}
.thirdzone ion-icon{
	transition: .2s;
	cursor: pointer;
}
.thirdzone{
	transition: .4s;
	align-self: stretch;
	margin-left: 5vw;
	margin-top: 50vh;
	font-size: 5vh;
}
.gradient_for_bolezni{
	background: linear-gradient(rgba(0, 0, 0, 0), #e6e6e6);
	width: 100%;
	height: 100%;
	z-index: 3;
	position: absolute;
}
@keyframes slideuptocenter{
	0%{transform: translateY(-100vh);display: block; opacity: 0;}
	100%{transform: translateY(0); opacity: 1;}
}
@keyframes slidecentertoup{
	0%{transform: translateY(0);}
	100%{transform: translateY(-100vh); opacity: 0;}
}
@keyframes scale1{
	0%{transform: scaleY(0); opacity: 0;}
	100%{transform: scale(1); opacity: 1;}
}
@keyframes scale0{
	0%{transform: scaleY(1); opacity: 1;}
	100%{transform: scale(0); opacity: 0;}
}
@keyframes RemovePopup{
	0%{opacity: 1; transform: translateY(0);}
	100%{opacity: 0; display: none; transform: translateY(-8vh);}
}