

:root{
	--accent: #59BA6D;
	--accent2: #3B7A47;
	--accent3: #78FA92;
	--accent4: #1C3B22;
	--accent5: #6CE083;
}
body{
	#background: gray;
	margin: 0;
	padding: 0;
}
#input_zone{
	position: relative;
	background: red;
	border-radius: 10%;
}
*{
	user-select: none;
#	font-family: 'Exo 2', sans-serif;
}
.popup_message{
	z-index: 10;
	position: absolute;
	height: 7vh;
	width: 95vw;
	margin-top: 2.5%;
	margin-left: 2.5%;
	background: var(--accent4);
	opacity: .95;
	animation: popup 2s;
	z-index: 1;
}
@keyframes popup{
	0%{transform: translateY(-200px);}
	20%{transform: translateY(10px);}
	80%{transform: translateY(10px);}
	100%{transform: translateY(-200px);}
}
.popup_dur{
	z-index: 10;
	position: absolute;
	height: 4px;
	width: 100%;
	bottom: -4px;
	background: var(--accent3);
	animation: popupdur 2s ease-in-out;
}
@keyframes popupdur{
	0%{width: 100%;}
	85%{width: 0%;}
}
.popup_text{
	z-index: 10;
	line-height: 14pt;
	color: white;
	font-size: 14pt;
	margin-bottom: 50px;
	text-align: center;
	width: 100%;
	height: 100%;
}

#Settings a{
	font-size: 14pt;
}